.stretch-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(231, 231, 231);
  /* height: 500px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 2rem 5rem;
}

.stretch-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 161, 122);
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.stretch-icon-wrapper {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
 /* padding: 0; */
 /* margin: 0; */
 /* width: 100%; */
}

.stretch-content {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 100%;
  /* flex-wrap: wrap; */
}

